@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'TT Norms Pro';
	font-weight: 100;
	src: url('/fonts/TT Norms Pro Thin.otf') format('opentype');
}

@font-face {
	font-family: 'TT Norms Pro';
	font-weight: 200;
	src: url('/fonts/TT Norms Pro ExtraLight.otf') format('opentype');
}

@font-face {
	font-family: 'TT Norms Pro';
	font-weight: 400;
	src: url('/fonts/TT Norms Pro Regular.otf') format('opentype');
}

@font-face {
	font-family: 'TT Norms Pro';
	font-weight: 500;
	src: url('/fonts/TT Norms Pro Medium.otf') format('opentype');
}

@font-face {
	font-family: 'TT Norms Pro';
	font-weight: 700;
	src: url('/fonts/TT Norms Pro Bold.otf') format('opentype');
}

@font-face {
	font-family: 'TT Norms Pro';
	font-weight: 800;
	src: url('/fonts/TT Norms Pro ExtraBold.otf') format('opentype');
}

@font-face {
	font-family: 'TT Norms Pro';
	font-weight: 900;
	src: url('../fonts/TT Norms Pro Black.otf') format('opentype');
}

@font-face {
	font-family: 'TT Norms Pro';
	font-weight: 950;
	src: url('/fonts/TT Norms Pro ExtraBlack.otf') format('opentype');
}

* {
	-webkit-tap-highlight-color: transparent;
}

.fade-in {
	opacity: 0;
	transition: opacity 500ms ease-in;
}

.from-left {
	transform: translateX(-50%);
}

.from-right {
	transform: translateX(50%);
}

.fade-in-with-transition {
	opacity: 0;
	transition: opacity 500ms ease-in-out;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.3s;
}

.from-left,
.from-right {
	transition: opacity 250ms ease-in, transform 300ms ease-in;
}

.from-left.appear,
.from-right.appear {
	transform: translateX(0);
}

.fade-in.appear {
	opacity: 1;
}

.fade-in-with-transition.appear {
	opacity: 1;
}

.hero-text-slide-in {
	transition: hero-text-slide-in-animation 500ms ease-in;
}

@keyframes hero-text-slide-in-animation {
	0% {
		opacity: 0;
		transform: translateY(50%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}